{% load polls_extras %}

<div class="row">
    <div class="container panel-body col-md-12">
            <div id="answer-{{ answer.id }}" class="answer-container center-block panel panel-default row">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="author-avatar answer-avatar center-block"
                                 style="background-image: url({{ answer.author.profile.avatar.url }});">
                            </div>
                            <div class="user-nickname text-center">
                                <a href="{% url 'polls:user-profile' answer.author.id %}">
                                    {{ answer.author.username }}
                                </a>
                            </div>
                            <div class="rating-container row">
                                <div class="col-md-3">
                                    <a id="approve-answer-{{ answer.id }}">
                                        <button type="button" class="btn btn-default thumbs-up
                {% if request.user in answer.approved_by.all %} btn-success {% endif %}">
                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-offset-1 col-md-1">
                                    <div class="rating text-justify">
                                        {{ answer.rating }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a id="disapprove-answer-{{ answer.id }}">
                                        <button type="button" class="btn btn-default thumbs-down
                {% if request.user in answer.disapproved_by.all %} btn-danger {% endif %}">
                                            <i class="glyphicon glyphicon-thumbs-down"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4 edit-container">
                                    {% if answer.author == request.user %}
                                        <a id="delete-answer-{{ answer.id }}">
                                            <button class="btn btn-default btn-sm" title="Delete answer">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </a>
                                        <a id="edit-answer-{{ answer.id }}">
                                            <button class="btn btn-default btn-sm" title="Edit answer">
                                                <span class="glyphicon glyphicon-wrench"></span>
                                            </button>
                                        </a>
                                    {% endif %}
                                    {% if request.user == answer.question.author %}
                                        <a id="is-right-{{ answer.id }}">
                                            <button class="btn btn-default btn-sm {% if answer.isRight %} btn-success {% endif %}"
                                                    title="This answer helped me!">
                                                <span class="glyphicon  glyphicon-ok"></span>
                                            </button>
                                        </a>
                                    {% elif answer.isRight %}
                                        <span class="glyphicon  glyphicon-ok" style="color: #5cb85c;"></span>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="answer-date text-right text-muted">
                                        <time>{{ answer.publicationDate }}</time>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="answer-details">
                                        {{ answer.content }}
                                    </div>
                                    {% if answer.author == request.user %}
                                        <form hidden class="form-horizontal answer-edit-form" action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <span class="text-danger small">{{ add_answer_form.content.errors }}</span>
                                                </div>
                                                <div class="col-sm-2">{{ add_answer_form.content }}</div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-success">Edit</button>
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


