{% extends "./base.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
        <div class="row">
        <div class="container panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-body">
    <h3>Sign in</h3>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p class="alert-danger">Your username or password didn't match. Please try again.</p>
        {% endif %}
        {% include 'polls/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Ask</button>
            </div>
        </div>
    </form>
    <p><a href="#">Lost password?</a></p>
            </div>
        </div>
        </div>
{% endblock %}