{% extends './base.html' %}
{% block title %}Ask question{% endblock %}

{% block content %}
    <div class="row">
        <div class="container panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-body">
                <h3>Your Question</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    {% include 'polls/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Ask</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}