<div id="user-bar" class="panel">
    <div class="panel-body panel-default">
        <div class="user-bar-links-container">
        <a href="{% url 'polls:user-profile' request.user.id %}">Settings</a>
            &nbsp
        <a href="{% url 'polls:user-logout' %}?next={{request.path}}">Log out</a>
            </div>
        <div class="author-avatar center-block"
                                     style="background-image: url({{ request.user.profile.avatar.url }});">
        </div>
    </div>
</div>