<div id="pagination" class="pagination">
    <span class="step-links">
        {% if all_questions.has_previous %}
            <a href="?page={{ all_questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_questions.number }} of {{ all_questions.paginator.num_pages }}.
        </span>

        {% if all_questions.has_next %}
            <a href="?page={{ all_questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>