{% extends "./base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="active-tags-container" class="container">
        {% for tag in active_tags %}
                <a id="remove-tag-{{ tag.id }}">
                    <button class="btn btn-default btn-success btn-sm">
                        {{ tag }}
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </a>
        {% endfor %}
        <a id="remove-all-tags" {% if active_tags|length == 0 %} hidden {% endif %}>
            <button class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
    {% if all_questions %}
        <div class="sort-by-container">
            <a id="sort-by-date" href="#">
                By date
                <i class="glyphicon glyphicon-arrow-down"></i>
            </a>
            <a id="sort-by-rating" href="#">
                By rating
                <i class="glyphicon glyphicon-arrow-down"></i>
            </a>
        </div>
        {% for question in all_questions %}
            <div id="question-{{ question.id }}" class="question-container center-block">
                <div class="author-avatar" style="width: 100px; height: 100px;">
                    <img class="img-circle img-responsive" src="{{ question.author.profile.avatar.url }}">
                 </div>
                <div class="user-nickname">
                    <a href="{% url 'polls:user-profile' question.author.id %}">
                        {{ question.author.username }}
                    </a>
                </div>
                <div class="rating-container">
                    <a id="approve-question-{{ question.id }}">
                        <button type="button"  class="btn btn-default thumbs-up
                        {% if request.user in question.approved_by.all %} btn-success {% endif %}">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                        </button>
                    </a>
                    <div class="rating">
                        {{ question.rating }}
                    </div>
                    <a id="disapprove-question-{{ question.id }}">
                        <button type="button" class="btn btn-default thumbs-down
                        {% if request.user in question.disapproved_by.all %} btn-danger {% endif %}">
                            <i class="glyphicon glyphicon-thumbs-down"></i>
                        </button>
                    </a>
                </div>
                <div class="question-text">
                    {{ question.header }}
                </div>
                <div class="question-details">
                    {{ question.content }}
                </div>
                <div class="question-tags-container">
                    {% for tags in question.tags.all %}
                        <a href="{% url 'polls:questions' tags.word|slugify %}">{{ tags.word }}</a>
                    {% endfor %}
                </div>
                <div class="question-date">
                    <time>{{ question.publicationDate }}</time>
                </div>
                <div class="has-answers">
                    Has <strong>{{ question.answer_set.all.count }}</strong> answers
                </div>
                <div class="show-more">
                    <a href="{% url 'polls:question' question.id %}">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        По вашему запросу ничего не найдено
    {% endif %}
    </div>
    </div>
        <div id="tags-container" class="container">
        <div class="panel">
            <div class="panel-body panel-default">
                {% for tag in tags %}
                    <a href="#" id="add-tag-{{ tag.id }}" {% if tag.id in request.session.tags %} hidden {% endif %}>
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}