{% extends './base.html' %}
{% block title %} {{ user.username }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="container panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="user-avatar" style="background-image: url({{ user.profile.avatar.url }});"></div>
                        <br>Rating: <b title="Counts automatically">{{ user.profile.rating }}</b>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="user-name">
                                    <h3>{{ user.username }}</h3>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {% if request.user == user %}
                                    <a href="{% url 'polls:edit-user' request.user.id %}"
                                       id="edit-profile-{{ request.user.id }}">
                                        <button class="btn btn-default btn-sm" title="Edit your profile">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <span class="text-muted">With us from {{ user.date_joined }}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Questions:</h5>
                                <div class="questions-of-user">
                                    {% if user.question_set.all|length == 0 %}
                                        No questions asked
                                    {% endif %}
                                    <ul class="list-group">
                                        {% for question in user.question_set.all %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ question.rating }}</span>
                                                <a href="{% url 'polls:question' question.id %}">{{ question.header }}</a>

                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Answers:</h5>
                                <div class="answers-of-user">
                                    {% if user.answer_set.all|length == 0 %}
                                        No answers made
                                    {% endif %}
                                    <ul class="list-group">
                                        {% for answer in user.answer_set.all %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ answer.rating }}
                                                    {% if answer.isRight %}
                                                        <span class="glyphicon  glyphicon-ok"
                                                              style="color: #5cb85c;"></span>
                                                    {% endif %}</span>
                                                <a href="{% url 'polls:question' answer.question.id %}#answer-{{ answer.id }}">
                                                    {{ answer.content }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}