.login-search-container{
    margin-top: 10px;
}

.form-control::-webkit-input-placeholder { 
    color: #CCCCCC;
}

.form-control::-moz-placeholder{
    color: #CCCCCC;
}

#custom-search-input{
    margin-left: 40px;
    margin-top: 15px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    transition: all 0.2s ease-out;
    overflow: hidden;
}

#custom-search-input:hover{
    transform : scale(1.01);
    box-shadow: 0 1px 10px -2px rgba(0,0,0,0.5);
}

#custom-search-input input{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
    color: #C0C0C0;
    border: 0;
    box-shadow: none;
    width: 90%;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #C0C0C0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    transition: all 0.15s ease-out;
    border-radius: 0;
}

#custom-search-input button:not(:disabled):hover{
    color: #666666;
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    transform: scale(1.05);
}

#custom-search-input button:focus{
    color: #666666;
    outline: none;
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    transform: scale(1.05);
}

#custom-search-input .glyphicon-backward{
    font-size: 23px;
    opacity: 0.5;
    transition: all 0.4s ease-out;
}

#custom-search-input .options-opened .glyphicon-backward{
    transform: rotateY(180deg);
}

.main_logo_default{
    background: url("./images/qboard.png") no-repeat;
    background-size: contain;
    height: 80px;
    width: 120px;
}

.main-content-container{
    padding-top: 30px;
}

.main-content-container.is-center{
    padding-top: 250px
}

#custom-search-input .main-ask-search{
    margin-top: 8px;
    float: right;
    display: inline-block;
    transition: all 0.2s ease-out;
    width: 10%;
    right: -1px;
}

#custom-search-input .options-opened{
    right: 125px;
}

#user-bar{
    display: none;
    position: absolute;
    box-shadow: 0px 2px 5px -2px #0f0f0f;
    z-index: 999;
}

.visible{
    display: block !important;
}

.user-avatar{
    width: 180px;
}

.question-container{
    margin-top: 30px;
}

.author-avatar{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10%;
    outline: dashed rgba(153,153,153, 0.8) 4px;
    opacity: 0.9;
}

.user-nickname{
    margin-top: 10px;
    margin-bottom: 5px;
}

#tags-container{
    width: 150px;
    margin-left: 10px;
}

#active-tags-container{
    margin-bottom: 10px;
}

[id^=remove-tag]{
    margin-left: 5px;
}

#pagination{
    margin: 0;
}

#no-questions-found{
    margin-top: 35px;
}

.edit-container{
    opacity: 0.8;
}

.answer-container{
    margin-bottom: -40px;
    margin-right: -15px;
    margin-left: 15px;
}

.answer-avatar{
    width: 80px;
    height: 80px;
}

.answer-details{
    margin-top: 10px;
}

#answer-text{
    border: 1px solid #aaa !important;
}

#id_content, #id_header{
    border: 1px solid #aaa !important;
}

.user-avatar{
    width: 180px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    outline: dashed rgba(153,153,153, 0.8) 4px;
    opacity: 0.9;
}

.user-bar-links-container{
    margin-bottom: 10px;
}

.paginator-container{
    margin-left: -15px;
    margin-right: -15px;
}

.user-edit-container .user-avatar{
    margin-left: -60px;
}